[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	prqgh = "!git fetch $1 pull/$2/head:pr-$2 && git checkout pr-$2 && echo"
	fixup = "!HASH=${1-$(git rev-parse HEAD)} && git commit --fixup=$HASH && EDITOR=: git rebase -i --autosquash $HASH~1 && echo"
	fap = fetch --all -p
	default-branch = "!git remote show upstream | awk '/HEAD branch/ {print $NF}'"
	sync = "!git checkout $(git default-branch) && git pull upstream $(git default-branch) && git push origin $(git default-branch)"
[push]
	default = current
[user]
	name = Dávid Halász
	signingkey = 0xEDD71F5AF7A6C80D
[color]
	ui = auto
[core]
	autocrlf = input
[pull]
	rebase = true
[commit]
	gpgsign = true
[credential "https://dev.azure.com"]
	useHttpPath = true
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://msazure.visualstudio.com"]
        useHttpPath = true
        helper = /usr/local/share/gcm-core/git-credential-manager
